<%
// load menu options and contacts from content
const menu = _.cms('menu') || {}
const contacts = _.cms('contacts') || {}

// some social networks handled by contacts
const networksWithColors = [
  ['facebook', '#3b5998'],
  ['youtube', '#ff0000'],
  ['instagram', '#e1306c'],
  ['twitter', '#1da1f2']
]

// start grouping categories by parent slug
const allCategories = menu.alphabetical_order
  ? _.lodash.sortBy(_.categories, ['name'])
  : _.categories
const categoryParents = _.lodash.groupBy(allCategories, ({ parent }) => {
  return !parent || !parent.slug ? '_' : parent.slug
})
const getSubmenuId = slug => `a-${slug.replace(/\//g, '_')}`

const mainCategories = categoryParents._
if (mainCategories) {
  if (Array.isArray(menu.sort_categories)) {
    // reorder first level categories list
    for (let i = menu.sort_categories.length - 1; i >= 0; i--) {
      const slug = menu.sort_categories[i]
      const categoryIndex = mainCategories.findIndex(category => category.slug === slug)
      if (categoryIndex > -1) {
        const category = mainCategories[categoryIndex]
        mainCategories.splice(categoryIndex, 1)
        mainCategories.unshift(category)
      }
    }
  }
}

const hasBrands = true
let brands
if (hasBrands) {
  try {
    const { data } = await _.ecomClient.store({
      url: '/brands'
    })
    categoryParents['_'].push({
      _id: _.ecomUtils.randomObjectId(),
      name: _.dictionary('brands') || 'Marcas',
      slug: 'brands'
    })
    brands = data.result.sort((a, b)=> {
      return b.name > a.name ? -1 : 1
    })
    categoryParents['brands'] = [
      ...brands
    ]
  } catch (err) {
    console.error(err)
  }
}
%>

<aside id="menu" class="menu shadow">
  <nav class="accordion" id="accordion-menu">
    <button
      class="menu__btn menu__btn--close btn"
      type="button"
      onclick="toggleSidenav()"
      aria-label="Toggle Side Navigation"
    >
      <i class="i-times"></i>
    </button>

    <% for (const slug in categoryParents) { %>
      <% if (categoryParents.hasOwnProperty(slug)) { %>
        <% let category, parent %>
        <div
          <% if (slug === '_') { %>
            id="categories-nav"
            class="collapse show"
            aria-expanded="true"
          <% } else { %>
            id="<%= getSubmenuId(slug) %>"
            class="collapse"
            aria-expanded="false"
          <% } %>
          data-parent="#accordion-menu"
        >

          <% if (slug !== '_') { %>
            <% category = _.categories.find(category => category.slug === slug) %>
            <% parent = category && category.parent %>
            <button
              class="menu__btn btn"
              type="button"
              data-toggle="collapse"
              <% if (!parent || !parent.slug) { %>
                aria-expanded="true"
                data-target="#categories-nav"
                aria-controls="categories-nav"
              <% } else {
                const submenuId = getSubmenuId(parent.slug)
                %>
                aria-expanded="false"
                data-target="#<%= submenuId %>"
                aria-controls="<%= submenuId %>"
              <% } %>
            >
              <i class="i-arrow-left"></i>
            </button>
          <% } %>

          <div class="options-menu-mobile d-none">
            <li class="minhaconta">
              <div class="icon-options-menu-mobile">
                <svg class="user-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <path
                    d="M418.651,431.634c-8.576-56.229-45.769-103.945-98.194-125.989c42.679-35.547,48.457-98.962,12.91-141.641s-98.962-48.457-141.641-12.91s-48.457,98.962-12.91,141.641c3.904,4.69,8.229,9.006,12.91,12.91c-49.783,21.12-86.007,65.344-96.914,118.309c-2.021,9.893,4.37,19.557,14.263,21.577c9.893,2.021,19.557-4.37,21.577-14.263c14.153-69.257,81.774-113.938,151.04-99.785c52.407,10.706,92.626,52.873,100.846,105.728c1.408,8.978,9.198,15.561,18.286,15.451h2.834C413.595,450.981,420.306,441.582,418.651,431.634z M192,228.571c0-35.346,28.654-64,64-64s64,28.654,64,64s-28.654,64-64,64S192,263.918,192,228.571z">
                  </path>
                  <path
                    d="M256,512C114.615,512,0,397.385,0,256S114.615,0,256,0s256,114.615,256,256S397.385,512,256,512z M256,36.571c-121.189,0-219.429,98.24-219.429,219.429S134.811,475.429,256,475.429S475.429,377.189,475.429,256S377.189,36.571,256,36.571z">
                  </path>
                  <g></g>
                </svg>
              </div>
              <a href="/app/#/account">Entrar / Sair</a>
            </li>
            <li class="meuspedidos">
              <div class="icon-options-menu-mobile">
                <svg fill="none" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                  <g clip-rule="evenodd" fill="rgb(0,0,0)" fill-rule="evenodd">
                    <path
                      d="m11.6646 1.32918c.2111-.10557.4597-.10557.6708 0l10 5c.2541.12704.4146.38674.4146.67082v10c0 .2841-.1605.5438-.4146.6708l-10 5c-.2111.1056-.4597.1056-.6708 0l-10.00001-5c-.25409-.127-.41459-.3867-.41459-.6708v-10c0-.28408.1605-.54378.41459-.67082zm-8.9146 6.13435v9.07297l9.25 4.625 9.25-4.625v-9.07297l-9.25-4.625z">
                    </path>
                    <path
                      d="m1.32934 6.66451c.18525-.37048.63575-.52065 1.00623-.33541l10.00003 5c.3705.1852.5206.6357.3354 1.0062-.1853.3705-.6358.5207-1.0062.3354l-10.00005-4.99996c-.37048-.18524-.52065-.63575-.33541-1.00623z">
                    </path>
                    <path
                      d="m12 11.25c.4142 0 .75.3358.75.75v10c0 .4142-.3358.75-.75.75s-.75-.3358-.75-.75v-10c0-.4142.3358-.75.75-.75z">
                    </path>
                    <path
                      d="m22.671 6.66451c.1852.37048.0351.82099-.3354 1.00623l-10 4.99996c-.3705.1853-.821.0351-1.0063-.3354-.1852-.3705-.035-.821.3355-1.0062l10-5c.3704-.18524.8209-.03507 1.0062.33541z">
                    </path>
                    <path
                      d="m17.671 4.16451c.1852.37048.0351.82099-.3354 1.00623l-10.00003 4.99996c-.37048.1853-.82098.0351-1.00623-.33537-.18524-.37048-.03507-.82099.33541-1.00623l10.00005-5c.3704-.18524.8209-.03507 1.0062.33541z">
                    </path>
                  </g>
                </svg>
              </div>
              <a href="/app/#/orders">Meus Pedidos</a>
            </li>
            <li class="meusfavoritos">
              <div class="icon-options-menu-mobile">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <path
                        d="M374,39.221c-42.59,0-79.926,18.991-107.971,54.921c-3.74,4.792-7.074,9.586-10.029,14.229c-2.955-4.644-6.289-9.437-10.029-14.229C217.926,58.212,180.59,39.221,138,39.221c-80.456,0-138,67.367-138,148.204c0,92.433,75.757,179.547,245.637,282.46c3.185,1.929,6.774,2.894,10.363,2.894s7.178-0.964,10.363-2.893C436.243,366.973,512,279.859,512,187.426C512,106.631,454.503,39.221,374,39.221z M419.157,302.52C383.79,341.982,330.345,383.534,256,429.343c-74.345-45.809-127.79-87.361-163.157-126.822C57.285,262.845,40,225.197,40,187.426c0-58.204,39.334-108.205,98-108.205c29.876,0,55.35,12.99,75.715,38.61c16.284,20.489,23.145,41.646,23.193,41.797c2.605,8.355,10.341,14.046,19.093,14.046c8.752,0,16.488-5.69,19.093-14.046c0.063-0.202,6.718-20.699,22.467-40.875C318.036,92.521,343.754,79.22,374,79.22c58.728,0,98,50.049,98,108.205C472,225.196,454.715,262.844,419.157,302.52z">
                      </path>
                    </g>
                  </g>
                </svg>
              </div>
              <a href="/app/#/account">Favoritos</a>
            </li>
            <li class="faleconosco-mobile">
              <div class="icon-options-menu-mobile">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <path
                          d="M248.158,343.22c-14.639,0-26.491,12.2-26.491,26.84c0,14.291,11.503,26.84,26.491,26.84c14.988,0,26.84-12.548,26.84-26.84C274.998,355.42,262.799,343.22,248.158,343.22z">
                        </path>
                        <path
                          d="M252.69,140.002c-47.057,0-68.668,27.885-68.668,46.708c0,13.595,11.502,19.869,20.914,19.869c18.822,0,11.154-26.84,46.708-26.84c17.429,0,31.372,7.669,31.372,23.703c0,18.824-19.52,29.629-31.023,39.389c-10.108,8.714-23.354,23.006-23.354,52.983c0,18.125,4.879,23.354,19.171,23.354c17.08,0,20.565-7.668,20.565-14.291c0-18.126,0.35-28.583,19.521-43.571c9.411-7.32,39.04-31.023,39.04-63.789S297.307,140.002,252.69,140.002z">
                        </path>
                        <path
                          d="M256,0C114.516,0,0,114.497,0,256v236c0,11.046,8.954,20,20,20h236c141.483,0,256-114.497,256-256C512,114.516,397.503,0,256,0z M256,472H40V256c0-119.377,96.607-216,216-216c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <a href="#modalContato" data-toggle="modal" data-target="#modalContato">Fale conosco</a>
            </li>
          </div>

          <div class="menu__list">
            <% categoryParents[slug].forEach((subcategory, index) => { %>
              <% const hasSubmenu = Array.isArray(categoryParents[subcategory.slug]) %>
              <a
                <% if (hasSubmenu) {
                  const submenuId = getSubmenuId(subcategory.slug)
                  %>
                  href="#<%= submenuId %>"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  aria-controls="<%= submenuId %>"
                <% } else { %>
                  href="/<%= subcategory.slug %>"
                <% } %>
                id="c-<%= subcategory._id %>"
                class="menu__item"
              >
                <% if (subcategory.icon) { %>
                  <span class="menu__item-icon">
                    <img
                      data-src="<%= subcategory.icon.url %>"
                      alt="<%= subcategory.icon.alt || subcategory.name %>"
                      class="lozad"
                      data-preload="<%= (index * 200) %>"
                    >
                  </span>
                <% } %>
                <span>
                  <%= subcategory.name %>
                </span>
              </a>
            <% }) %>
          </div>

          <% if (category && category.slug) { %>
            <a href="/<%= category.slug %>" class="menu__link">
              <%= _.dictionary('seeAll$1Category').replace('$1', category.name) %>
            </a>
          <% } %>
        </div>
      <% } %>
    <% } %>
  </nav>

  <footer class="menu__footer">
    <% if (menu.phone_wpp) { %>
      <div class="menu__phone">
        <% if (contacts.whatsapp) { %>
          <a
            href="javascript:;"
            target="_blank"
            rel="noopener"
            class="whatsapp-link"
            data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
          >
            <i class="i-whatsapp mr-1"></i>
            <%= contacts.whatsapp %>
          </a>
        <% } else if (contacts.phone) { %>
          <a
            href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
            target="_blank"
            rel="noopener"
          >
            <i class="i-phone mr-1"></i>
            <%= contacts.phone %>
          </a>
        <% } %>
      </div>
    <% } %>

    <% if (menu.socials) { %>
      <div class="menu__social">
        <% networksWithColors.forEach(([network, color]) => { %>
          <% if (contacts[network]) { %>
            <a
              href="<%= contacts[network] %>"
              target="_blank"
              rel="noopener"
              aria-label="<%= network %>"
              style="color: <%= color %>"
            >
              <i class="i-<%= network %>"></i>
            </a>
          <% } %>
        <% }) %>
      </div>
    <% } %>
  </footer>
</aside>
  
